{:lint-as {day8.re-frame.tracing/fn-traced clojure.core/fn
           garden.def/defstyles clojure.core/def
           garden.selectors/defselector clojure.core/declare
           reagent-mui.util/react-component clojure.core/fn}
 :linters {:clojure-lsp/unused-public-var {:exclude #{top10.core/init top10.css/screen}}
           :unused-namespace {:exclude #{top10.effects}}
           :unresolved-symbol {:exclude #{(secretary.core/defroute)}}}}
