/dist
/out
/resources/public/css
/resources/public/js/compiled
/target
/*-init.clj
/*.log

.clj-kondo/*
!.clj-kondo/config.edn

.calva/output-window

/.lein-*
/.lsp
/.nrepl-port

/node_modules

/.shadow-cljs
