{:extra-indents {fn-traced [[:inner 0]]}
 :remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? true
 :insert-missing-whitespace? true
 :remove-multiple-non-indenting-spaces? true
 :sort-ns-references? true}
