admin_username: secret
admin_public_key: linode_cofx_ed25519.pub

git_public_key: linode_cofx_git_ed25519.pub

root_username: secret

databases:
  - app: top10-api
    name: top10
    password: secret

secret_environment_variables:
  - app: top10-api
    name: GOOGLE_OAUTH2_CLIENT_ID
    value: 1234.apps.googleusercontent.com
  - app: top10-api
    name: GOOGLE_OAUTH2_CLIENT_SECRET
    value: abcdefg
  - app: top10-api
    name: JDBC_POSTGRES_URL
    value: "jdbc:postgresql://<database_host>:<port>/<database_name>"
  - app: top10-api
    name: JDBC_POSTGRES_USERNAME
    value: postgres
  - app: top10-api
    name: JDBC_POSTGRES_PASSWORD
    value: secret
  - app: top10-api
    name: JWT_ENCODED_SECRET_KEY
    value: wJKyygT7gWXwhe9rGCm8IJGziEZjAXMEff+wkQv0rFiN0Nw8PuG5XMKmdGAw5nL09Jy+1TpiOZrQ9tt4rS/PuA==
